body {
  background: #37517e;
}

.bg-image {
    background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

input.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}

label.error {
color: red;
font-size: 1rem;
display: block;
margin-top: 0px;
}

nav {
background: #37517e;
}

nav .nav-item {
color: white;
margin-left: 10px;
margin-right: 10px;
font-weight: bold;
padding-left: 15px;
padding-right: 15px;
}

nav .nav-item.active {
overflow: hidden;
border-bottom: 2px solid black;
border-radius: 20px;
font-weight: bold;
background-color: white;
}

.card{
  border:none;

  position:relative;
  overflow:hidden;
  border-radius:8px;
  cursor:pointer;
}

.card:before{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#99a1ad;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:after{
  
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#37517e;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:hover::after{
  transform:scaleY(1);
}


.fonts{
  font-size:15px;
}

.social-list{
  display:flex;
  list-style:none;
  justify-content:center;
  padding:0;
}

.social-list li{
  padding:10px;
  color:#37517e;
  font-size:25px;
}


.buttons button:nth-child(1){
border:1px solid #37517e !important;
color:#37517e;
height:40px;
}

.buttons button:nth-child(1):hover{
border:1px solid #37517e !important;
color:#fff;
height:40px;
background-color:#37517e;
}

.buttons button:nth-child(2){
border:1px solid #37517e !important;
background-color:#37517e;
color:#fff;
height:40px;
}

.detail .label {
font-weight: bold;
color: #6b6b6b;
}

.detail .row {
margin-top: 10px;
}